<div class="form-container">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn-auth" %>
    </div>
  <% end %>

  <div class="omniauth-section">
    <div class="separator">または</div>
    <%= button_to user_google_oauth2_omniauth_authorize_path, 
                   method: :post, 
                   data: { turbo: false }, 
                   class: "btn-google" do %>
      <span class="google-icon">G</span> Googleでログイン
    <% end %>
  </div>


  <div class="auth-links">
    <%= link_to "トップページへ", root_path %> |
    <%= link_to "サインアップへ", new_user_registration_path %>
  </div>
</div>
