<!DOCTYPE html>
<html>
  <head>
    <title>LUNCHOICE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <style>
      .container { max-width: 1920px; margin: 0 auto; padding: 0 10px; display: flex; align-items: center; justify-content: space-between; }
      header { background-color: #FF9500; padding: 20px 0; }
      header h1 {margin: 0; padding: 0 5px; }
      header a { text-decoration: none; color: #000000ff; }
      main { max-width: 960px; margin: 20px auto; padding: 20px; min-height: 70vh; }
      footer { background-color: #343a40; color: white; text-align: center; padding: 15px 0; margin-top: 30px; }
      
    </style>

  </head>

  <body>
    <header>
      <div class="container">
        <h1>
          <a href="/" style="text-decoration: none; font-family: 'Courgette', cursive; font-weight: 400; font-style: normal; color: #000000ff;">lunchoice</a>
        </h1>
        <nav>
          <% if user_signed_in? %>
            <%= link_to "食事履歴", choices_path, style: "
              padding: 5px 10px; 
              border: 1px solid #000; 
              border-radius: 5px; 
              margin-right: 10px;
              background-color: #ffe110; 
              color: black !important;
            " %>
            <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, style: "
              padding: 5px 10px; 
              border: 1px solid #000; 
              border-radius: 5px; 
              background-color: #ffe110; 
              color: black !important;
              margin-right: 10px;
            " %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, style: "
              padding: 5px 10px; 
              border: 1px solid #000; 
              border-radius: 5px; 
              margin-right: 10px;
              background-color: #ffe110; 
              color: black !important;
            " %>
            <%= link_to "サインアップ", new_user_registration_path, style: "
              padding: 5px 10px; 
              border: 1px solid #000; 
              border-radius: 5px; 
              background-color: #ffe110; 
              color: black !important;
            " %>
          <% end %>
        </nav>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <%= yield %>
    </main>
    
    <footer>
      <div class="container">
        <p>&copy; <%= Time.current.year %> LUNCHOICE. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>